.bannerContainer {
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--gray-2);
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
