.slideshow {
  /* margin: 0 auto; */
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  width: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slideshowDot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 19px;
  border: 0;
  border-top: 1px solid #1c1c1e;
  border-bottom: 1px solid #1c1c1e;
  font-size: 14px;
  font-family: Abel;
  flex: 1 1 auto;
  background: #0b0b0b;
  cursor: pointer;
}
.slideshowDot:first-of-type {
  border-left: 1px solid #1c1c1e;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.slideshowDot:last-of-type {
  border-right: 1px solid #1c1c1e;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.slideshowDot.active {
  background: #1c1c1e;
}