.react-modal-sheet-backdrop {
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(7px) !important;
}
.react-modal-sheet-container {
    background-color: #121212 !important;
}
.react-modal-sheet-header {
    /* custom styles */
}
.react-modal-sheet-drag-indicator {
    /* custom styles */
}
.react-modal-sheet-content {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 3vw !important;
    margin-right: 3vw !important;
}