@import '../../../../../node_modules/@radix-ui/colors/black-alpha.css';
@import '../../../../../node_modules/@radix-ui/colors/green.css';
@import '../../../../../node_modules/@radix-ui/colors/mauve.css';
@import '../../../../../node_modules/@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
    all: unset;
}

.DialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    background-color: #121212;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 450px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
    outline: none;
}

.DialogTitle {
    margin: 0;
    font-weight: 500;
    color: white;
    font-size: 17px;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fecf0a;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: border 0.3s ease;
    border: 1px solid #121212;
}
.IconButton:hover {
    border: 1px solid #fecf0a;
}

.Accent {
    color: #fecf0a;
}

.Price {
    margin-top: 5px;
}

.ProposalButton {
    border-radius: 8px;
    background-color: #fecf0a;
    cursor: pointer;
    padding: 10px;
    color: black;
    font-weight: 700;
    width: 93%;
    text-align: center;
    border: 3px solid black;
    transition: border 0.3s ease;
}

.ProposalButton:hover {
    border: 3px solid #fecf0a;
}


.TextAccent {
    color: #fecf0a;
    font-weight: 600;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.FormRoot {
    width: 93%;
}

.FormField {
    display: grid;
    margin-bottom: 10px;
}

.FormLabel {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: #fecf0a;
}

.FormMessage {
    font-size: 13px;
    color: red;
    opacity: 0.8;
}

.Input,
.Textarea {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    font-size: 15px;
    color: white;
    background-color: var(--black-a5);
    box-shadow: 0 0 0 1px var(--black-a9);
}
.Input:hover,
.Textarea:hover {
    box-shadow: 0 0 0 1px #fecf0a;
}
.Input:focus,
.Textarea:focus {
    box-shadow: 0 0 0 2px #fecf0a;
}
.Input::selection,
.Textarea::selection {
    background-color: var(--black-a9);
    color: white;
}

.Input {
    padding: 0 10px;
    height: 35px;
    line-height: 1;
}

.Textarea {
    resize: none;
    padding: 10px;
    border: none;
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    height: 35px;
    width: 100%;

    background-color: #fecf0a;
    color: black;
    font-weight: 700;
    box-shadow: 0 2px 10px var(--black-a7);
    transition: color 0.3s ease;
}
.Button:hover {
    background-color: #fecf0a;
    color: white;
}
.Button:focus {
    box-shadow: 0 0 0 2px black;
}