@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
    all: unset;
}

.SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    height: 35px;
    width: 35vw;
    gap: 5px;
    background-color: #121212;
    border: 1px solid #fecf0a;
    color: white;
    box-shadow: 0 2px 10px black;
}
.SelectTrigger:hover {
    background-color: #fecf0a;
}
.SelectTrigger:focus {
    box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
    color: white;
}

.SelectIcon {
    color: #fecf0a;
    justify-self: end;
}

.SelectContent {
    overflow: hidden;
    background-color: #121212;
    border-radius: 6px;
    box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
    padding: 5px;
}

.SelectItem {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #fecf0a;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    width: 35vw;
    position: relative;
    user-select: none;
}
.SelectItem[data-disabled] {
    color: #121212;
    pointer-events: none;
}
.SelectItem[data-highlighted] {
    outline: none;
    background-color: white;
    color: #121212;
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}