:root {
  --brand-color: #fecf0a;
}

body {
  /* background: var(--grass-5); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rt-TextFieldInput {
  display: unset;
}

.disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.radix-themes {
  --my-brand-color: #fecf0a;
  --amber-9: var(--my-brand-color);
}

.blur-filter-8 {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}