:root {
  --brand-color: #fecf0a;
  --swiper-pagination-color: #fecf0a;
  --swiper-pagination-bullet-inactive-color: #83a4a4;
  --default-font-family: "Space Mono", monospace;
  /* 'Inter', sans-serif !important; */
  --green-color-1: #00b33c;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7SUc.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7SUc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7SUc.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7SUc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7SUc.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: "ME";   /*Can be any text*/
  src: local("MonumentExtended"),
    url("./shared/fonts/MonumentExtended-Ult.woff") format("woff");
    font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ME";   /*Can be any text*/
  src: local("MonumentExtended"),
    url("./shared/fonts/MonumentExtended-Reg.woff") format("woff");
    font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF";   /*Can be any text*/
  src: local("SF Pro Text"),
    url("./shared/fonts/SF-Pro-Text-Regular.woff2") format("woff2");
    font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF";   /*Can be any text*/
  src: local("SF Pro Text"),
    url("./shared/fonts/SF-Pro-Text-Semibold.woff2") format("woff2");
    font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "SF";   /*Can be any text*/
  src: local("SF Pro Text"),
    url("./shared/fonts/SF-Pro-Text-Bold.woff2") format("woff2");
    font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Abel";   /*Can be any text*/
  src: local("Abel"),
    url("./shared/fonts/Abel-Regular.woff2") format("woff2");
    font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: 'SF', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-pagination {
  bottom: 8.6vh !important;
  color: #fecf0a !important;
}

.rt-TextFieldInput {
  display: unset;
}

.disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.radix-themes {
  --heading-font-family: "ME";
  --heading-letter-spacing: 1px;

  --navmenu-padding: 20px;
  --navmenu-width: calc(100мц - var(--navmenu-padding) * 2);
  
  --navmenu-btn-count: 5;
  --navmenu-indicator-x: var(--navmenu-padding);
  --navmenu-btn-width: 13.3vw;
  --navmenu-gap: calc((var(--navmenu-width) - (var(--navmenu-btn-width) * 5)) / 4);
  --navmenu-indicator-steps: calc(var(--navmenu-btn-width) + var(--navmenu-gap)) ;

  --my-brand-color: #fecf0a;

  /* Backgrounds */
--accent-1: #feca1b; /* Чуть темнее оригинального цвета */
--accent-2: #ffde5c; /* Светлее и менее насыщенный вариант */

/* Interactive components */
--accent-3: #ffd200; /* Более насыщенный желтый */
--accent-4: #fbb917; /* Теплый оттенок ближе к оранжевому */
--accent-5: #f5b800; /* Чуть более мягкий желтый, приближенный к золотистому */

/* Borders and separators */
--accent-6: #e6b200; /* Темнее для границ */
--accent-7: #f0c107; /* Ближе к оригинальному, но с меньшей яркостью */
--accent-8: #c99b00; /* Более глубокий, почти охряный для четких границ */

/* Solid colors */
--amber-9: var(--my-brand-color);
--accent-10: #ffb800; /* Более насыщенный оранжево-желтый для ярких блоков */

/* Accessible text */
--accent-11: #5e4000; /* Темный цвет для контрастного текста */
--accent-12: #9f7400; /* Менее темный, но всё еще контрастный для текста */

/* Functional colors */
--accent-surface: #ffde5c; /* Нейтральный светлый для фона */
--accent-indicator: #feca0a; /* Оригинальный цвет для индикаторов */
--accent-track: #f5b800; /* Более мягкий желтый для прогресс-бара или треков */
--accent-contrast: #2c1d00; /* Очень темный для контрастных элементов */
}

.blur-filter-8 .rt-Card::before {
  content: "" !important;
  -webkit-backdrop-filter: none !important; 
  /* blur(8px); */
  backdrop-filter: none !important;
   /* blur(8px); */
}

@keyframes updown {
  0% {
    transform: translateY(-5vh);
  }

  50% {
    transform: translateY(-3vh);
  }

  100% {
    transform: translateY(-5vh);
  }
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

input, textarea {
  touch-action: manipulation;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.toaster-container {
  z-index: 3;
}

.rt-Badge {
  font-weight: 100 !important;
}

.navigation-menu,
.navigation-menu::before,
.navigation-menu::after {
  --card-border-radius: 0;
  --card-border-width: 0;
  border-radius: 0;
  background: transparent;
}

.navigation-menu {

}

.navigation-menu > div > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: var(--navmenu-btn-width);
}

.navigation-menu::before {
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #0b0b0b 0%, #4b4b4b 50%, #0b0b0b 100%);
}

.navigation-menu::after {
  left: 0;
  top: 0;
  width: var(--navmenu-btn-width);
  height: 64px;
  background: url(shared/imgs/spotlight.svg) no-repeat 50% 0;
  outline: none;
  box-shadow: none;
  transition: translate 300ms ease-in-out;
  translate: var(--navmenu-indicator-x);
  z-index: -1;
}

.navigation-menu:has(div a:nth-child(2) > button[data-accent-color="amber"]) {
  --navmenu-indicator-x: calc(var(--navmenu-padding) + 19vw);
}
.navigation-menu:has(div a:nth-child(3) > button[data-accent-color="amber"]) {
  --navmenu-indicator-x: calc(var(--navmenu-padding) + 38.2vw);
}
.navigation-menu:has(div a:nth-child(4) > button[data-accent-color="amber"]) {
  --navmenu-indicator-x: calc(var(--navmenu-padding) + 57vw);
}
.navigation-menu:has(div a:nth-child(5) > button[data-accent-color="amber"]) {
  --navmenu-indicator-x: calc(var(--navmenu-padding) + 76.5vw);
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.whitelist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 19px;
  border: 0;
  border-top: 1px solid #1c1c1e;
  border-bottom: 1px solid #1c1c1e;
    font-size: 14px;
    font-family: Abel;
    flex: 1 1 auto;
    background: #0b0b0b;
}

.whitelist-btn:first-of-type {
  border-left: 1px solid #1c1c1e;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.whitelist-btn:last-of-type {
  border-right: 1px solid #1c1c1e;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.slideshow {
  /* margin: 0 auto; */
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  width: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slideshowDot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 19px;
  border: 0;
  border-top: 1px solid #1c1c1e;
  border-bottom: 1px solid #1c1c1e;
  font-size: 14px;
  font-family: Abel;
  flex: 1 1 auto;
  background: #0b0b0b;
  cursor: pointer;
}
.slideshowDot:first-of-type {
  border-left: 1px solid #1c1c1e;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
.slideshowDot:last-of-type {
  border-right: 1px solid #1c1c1e;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.slideshowDot.active {
  background: #1c1c1e;
}